/*Start Global Rules*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
.container {
    margin: auto;
}
.clearfix {
    clear: both;
}
/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/*meduim*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/*End  Global Rules*/

/*start Header*/
header .container{
    padding: 60px 30px;
    text-align: center;
}
header h1 {
    font-weight: lighter;
    color: hsl(229, 6%, 66%);
    font-size: 26px;
    margin-bottom: 8px;
}
header h2 {
    color: hsl(234, 12%, 34%);
    font-size: 26px;
    margin-bottom: 20px
}
header p {
    color: hsl(229, 6%, 66%);
    font-size: 18px;
    line-height: 1.7;
}
@media (min-width:768px) {
    header h1, header h2 {
        font-size: 40px;
    }
     header p {
         font-size: 18px;
     }
}
/*End Header*/

/*Start Main*/
main .container {
    padding: 20px 30px;
    position: relative;
}
main .feat {
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgb(190, 190, 190);
    position: relative;
}
main .feat-1 {
    border-top: 5px solid hsl(180, 62%, 55%);
}
main .feat-2 {
    border-top: 5px solid hsl(0, 78%, 62%);
}
main .feat-3 {
    border-top: 5px solid hsl(34, 97%, 64%);
}
main .feat-4 {
    border-top: 5px solid hsl(212, 86%, 64%);
}
@media (min-width: 768px) {
    main .feat-1 {
        float: left;
        width: 31.5%;
        margin-right: 2.7%;
        margin-top: 13%;
    }
    main .feat-center {
        float: left;
        width: 31.5%;
    }
    main .feat-4 {
        float: right;
        width: 31.5%;
        margin-top: 13%;
    }
}
main .feat h2 {
    color: hsl(234, 12%, 34%);
    margin-bottom: 12px;
}
main .feat p {
    color: hsl(229, 6%, 66%);
    line-height: 1.7;
    margin-bottom: 35%;
    font-size: 15px;
}
main .feat img {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
/*End Main*/
